<nav>
  <div class="site-title">
    <a href="/">GDF Forms</a>
    <p>A GDF Registration and Application Forms Site</p>
  </div>
  <ul>
    <li><a href="/">Registrations</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/registrations/create">Register</a></li>
  </ul>
</nav>
