<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <nav><%- include('./partials/navs.ejs')%></nav>
    <div class="not-found content">
      <h2>Oops! Page not found</h2>
    </div>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
